body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
h2{
  font-size: 40px;
}

.orange {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left:5%;
}
.half-width img{
  width: 80%;
}
.link-button{
  text-decoration: none;
  background-image: linear-gradient(salmon,tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  /* display: flex;
  margin-bottom: 150px; */
}
.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  /* display: flex; */
}
.experience-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-item{
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  padding-left: 20px;
  margin-left: 5%;
  margin-right: 5%;
}
#full-stack{
  border-left: 7px solid;
  border-image: linear-gradient(salmon,tomato);
  border-image-slice: 1;
}
#baby-developer{
  border-left: 7px solid;
  border-image: linear-gradient(blue,cyan);
  border-image-slice: 1;
}
footer{
  text-align: center;
}